<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459757273334-kqip9gpsuun8h55asa4f4l0t8kutpdne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459757273334-kqip9gpsuun8h55asa4f4l0t8kutpdne</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>459757273334-1sq3sp4pncbio9i48kn2f8eru9cu8gob.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8pIqH1_PEFPlcYVnFpxusJgQrmwPvdd0</string>
	<key>GCM_SENDER_ID</key>
	<string>459757273334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>web-rtc-demo-1c3ad</string>
	<key>STORAGE_BUCKET</key>
	<string>web-rtc-demo-1c3ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459757273334:ios:4107c87279515e7afbacd7</string>
</dict>
</plist>